**,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


html {
    font-size: 62.5%;
}

body {
    font-family: "Lato", sans-serif;
    font-size: 1.6rem;
    line-height: 1.7;
    color: #333;
    background-size: fixd;
    background-position: center;
    height: 100vh;
    background-repeat: no-repeat;
    background-color: #333;

}


.container {
    max-width: 114rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}

.logo {
    float: left;
    color: #ffffff;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


a {
    text-decoration: none;
    color: #ffffff;

}

.nav-items {
    margin-left: 6rem;
    transition: 0.4s ease all;
}

.nav-items:hover {
    color: #4CAF50;
}

.hero {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#bb {
    background-image: url("Assets/peter-broomfield-m3m-lnR90uM-unsplash.jpg");
    background-position: center;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-size: cover;

}

.tagline {
    font-size: 2.5rem;
    font-weight: 100;
}

.hero {
    margin-top: 5.5rem;
    height: 100vh;
}

.btn {
    width: 100%;

}

.btn .button {
    margin: 0 auto;
    border-radius: 1%;
}

.hero .btn {
    margin-top: 5rem;
}

.hero h2 {
    font-size: 6.5rem;
    font-weight: 400;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.5rem;
    text-align: left;
    margin-bottom: 3rem;
    margin-top: 3rem;
    position: relative;
    Top: 5rem;
    color: #ffffff;
}

.hero p {
    color: #ffffff;
    font-weight: 100;
    text-transform: uppercase;

}

.button {
    position: absolute;
    left: 50%;
    bottom: 180px;
    background-color: #4CAF50;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
}

.about-section {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.left-inscription,
.right-inscription {
    flex-basis: 45%;
    /* Adjust the width of the inscriptions as desired */
}

.about-section {
    position: relative;
    top: 10rem;
}

.contact-section {
    position: relative;
    top: 10rem;
}

.about-section {
    display: flex;
    justify-content: space-between;

}

.about {
    color: #ffffff;
}

.left-inscription {
    font-size: 2.5rem;
    font-weight: 300;

}

.right-inscription {
    margin-top: 9rem;
}